h1{
    color: aquamarine;
}
.categories{
border: 1px #ccc solid;
padding: 10px;
border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories li{
    list-style-image: url(../css/images/check.png);
}
 a:hover{
    color: red;
 }

 .button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
.button:hover{
    background-color:green;
    color: white;
}
 .my-form{
    padding: 10px;
 }
 .my-form .form-group{
    padding-bottom: 20px ;
 }
 .my-form label{
    display: block; 
 }
 .my-form input[type = "text"], .my-form textarea{
    padding: 8px;
    width: 30%;
 }
